@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "NouvelBold";
    src: url(../fonts/NouvelRBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #0a1a2f;
    color: #e8efff;
}

/*--------------- HERO ------------------ */

.hero-section {
    position: relative;
    width: 100%;
    height: 80vh; 
    background-image: url('../images/escalador.jpg'); 
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px; 
    margin-left: 50px; 
    text-align: left; 
    font-family: "NouvelBold";
}

.hero-content h1 {
    font-size: clamp(2.5rem, 4vw, 3rem);
    margin-bottom: 10px;
    font-weight: bold;
}

.hero-content p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-family: "Montserrat";
    margin-top: 10px; 
}


/* --------------- HEADER ------------------ */
.header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 8px;
    left: 20px;
    width: clamp(50px, 5vw, 80px); 
    height: clamp(50px, 5vw, 80px); 
    background-image: url('../images/logo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    cursor: pointer;
    z-index: 2;
}

.nav-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.nav-menu a {
    color: #fff;
    font-family: Raleway;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(0.85rem, 1vw, 1rem); 
    background-color: rgba(73, 70, 70, 0.4);
    padding: clamp(6px, 1vw, 8px) clamp(10px, 1.5vw, 12px);
    border-radius: 4px;
}

.nav-menu a:hover {
    color: #ff4500; 
}


/* ------------------ Athletes Section ------------------------ */
.athletes-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.athlete-profile {
    display: flex;
    background-color: #2b2f3a; 
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.athlete-photo {
    width: 40%;
    min-height: 300px;
}

.athlete-details {
    padding: 20px;
    width: 60%;
}

.photo-alex {
    background-image: url('../images/alex_honnold.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 5; 
}

.photo-emily {
    background-image: url('../images/Emily-Harrington.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 5; 
}

.photo-will {
    background-image: url('../images/will-gadd.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9; 
}

.photo-ines {
    background-image: url('../images/ines-papert.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 5; 
}

.athlete-details h2 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: #5ec27e; 
    margin-bottom: 10px;
    font-family: "Montserrat";
}

.athlete-txt {
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    font-family: "Montserrat";
    color: #cccccc; 
    margin-bottom: 15px;
}

.athlete-info {
    font-size: clamp(0.85rem, 1vw, 1rem);
    font-family: "Montserrat";
    color: #ff8674; 
    margin-bottom: 15px;
}

.athlete-stats {
    list-style: none;
    font-size: clamp(1rem, 1.2vw, 1.15rem);
    font-family: "Montserrat";
    color: #cccccc; 
    padding: 0;
    margin: 15px 0;
}

.athlete-stats li {
    margin-bottom: 8px;
}

.achievements {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.08); 
    padding: 10px;
    border-radius: 5px;
    font-family: "Montserrat";
}

.achievements h3 {
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    color: #5ec27e; 
    margin-bottom: 10px;
    font-family: "Lato";
}

.achievements ul {
    list-style: none;
    padding: 0;
    font-size: clamp(0.8rem, 1vw, 0.95rem);
    color: #cccccc; 
}

.achievements ul li {
    margin-bottom: 5px;
}

.profile-button {
    background-color: #ff8674; 
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    font-weight: bold;
    font-family: "Raleway";
}

.profile-actions {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px;

    gap: 15px;
}

.athlete-social-icons {
    display: flex;
    margin-left: auto;

    gap: 15px;
}

.athlete-social-icon img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* ---------------- TESTIMONIALS ----------------*/

.testimonials-section {
    padding: 60px 20px;
    background-color: #1c2230;
    color: #e8efff;
    text-align: center;
}

.testimonials-title {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: #5ec27e;
    margin-bottom: 40px;
    font-family: "NouvelBold";
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
}

.testimonial-card {
    background-color: #2b2f3a;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.testimonial-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-content h3 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: #5ec27e;
    font-family: "Montserrat";
    margin-bottom: 10px;
}

.testimonial-content p {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    font-family: "Raleway";
    color: #cccccc;
    line-height: 1.4;
    text-align: center;
}


/*--------------- FOOTER ------------------ */

.footer {
    background-color: #020715;
    color: #e8efff;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Montserrat';
    gap: 1.25rem;
}

.footer-logo h2 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    color: #8197e8;
    margin: 0;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1.25rem;
}

.footer-nav a {
    color: #e8efff;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(0.85rem, 1vw, 1rem);
}

.footer-nav a:hover {
    color: #8197e8;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon img {
    width: clamp(20px, 4vw, 35px);
    height: clamp(20px, 4vw, 35px);
    padding: 4px; 
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: clamp(0.75rem, 1vw, 0.875rem);
    font-family:'Lato';
    color: #a8a8a8;
}

/*--------------- MEDIA QUERIES ------------------ */

@media screen and (max-width: 1400px) {
    .hero-section {
        padding-right: 5%;
    }

    .hero-content {
        max-width: 500px;
        margin-left: 20px;
    }

    .athlete-profile {
        flex-direction: column;
        align-items: center;
    }

    .athlete-photo, .athlete-details {
        width: 100%;
    }

    .photo-alex, .photo-emily, .photo-will, .photo-ines {
        background-size: cover;
        background-position: center 25%;
        background-repeat: no-repeat;
        height: auto;
        max-height: 400px;
    }

    .photo-ines {
        background-position: center 5%; 
    }

    .photo-will {
        background-position: center center;
    }

    .testimonials-section {
        padding: 40px 15px;
    }

    .testimonial-card {
        max-width: 250px;
        padding: 15px;
    }

    .testimonial-photo {
        width: 90px;
        height: 90px;
    }
    

}

@media screen and (max-width: 1200px) {
    .footer-container {
        gap: 1rem;
    }

    .hero-content {
        margin-bottom: 80px;
    }

    .footer-nav ul {
        gap: 0.75rem;
    }

    .footer-social {
        gap: 0.75rem;
    }

    .photo-alex, .photo-emily, .photo-will, .photo-ines {
        background-size: cover;
        background-position: center -20px;
        background-repeat: no-repeat;
        aspect-ratio: 4 / 5;
        height: auto;
        max-height: 350px;
    }
    
    .testimonials-container {
        gap: 12px;
    }

    .testimonial-card {
        max-width: 90%;
    }

   
    
}

@media screen and (max-width: 960px) {
    .hero-section {
        justify-content: center;
        padding-right: 2%;
        text-align: center;
    }

    .hero-content {
        text-align: center;
        margin-bottom: 60px;
        margin-left: auto;
    }

    .athletes-section {
        padding: 20px 10px;
    }

    .athlete-profile {
        flex-direction: column;
        align-items: center;
    }

    .athlete-photo, .athlete-details {
        width: 100%;
        height: auto;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .social-icon img {
        width: 2rem;
        height: 2rem;
    }

    .photo-alex, .photo-emily, .photo-will, .photo-ines {
        background-size: cover;
        background-position: center -20px;
        background-repeat: no-repeat;
        aspect-ratio: 4 / 5;
        height: auto;
        max-height: 300px;
    }

    .testimonial-card {
        padding: 7px;
        max-width: 80%;
    }

    .testimonial-photo {
        width: 80px;
        height: 80px;
    }

    
}

@media screen and (max-width: 500px) {
    .logo {
        width: 2.5rem;
        height: 2.5rem;
        top: 10px;
        left: 10px;
    }

    .footer-nav ul {
        gap: 0.5rem;
    }

    .social-icon img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .hero-content {
        max-width: 100%;
        margin: 0;
    }

    .athlete-profile {
        flex-direction: column;
        align-items: center;
    }

    .athlete-photo, .athlete-details {
        width: 100%;
    }

    .photo-alex, .photo-emily, .photo-will, .photo-ines {
        background-size: cover;
        background-position: center -20px;
        background-repeat: no-repeat;
        aspect-ratio: 4 / 5;
        height: auto;
        max-height: 250px;

    }


    .testimonial-card {
        padding: 10px;
    }

    .testimonial-photo {
        width: 70px;
        height: 70px;
    }

    
    
}
