@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "NouvelBold";
    src: url(../fonts/NouvelRBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #0a1a2f;  
    color: #e8efff;
}

/*--------------- HERO ------------------ */

.hero-section {
    position: relative;
    width: 100%;
    height: 80vh; 
    background-image: url('../images/competition.jpg'); 
    background-size: cover;
    background-position: top; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f5f0e6;
    text-align: center;
    padding: 20px;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px; 
    margin-left: 50px; 
    text-align: left; 
    font-family: "NouvelBold";
}

.hero-content h1 {
    font-size: clamp(2.5rem, 4vw, 3rem);
    margin-bottom: 10px;
    font-weight: bold;
    color: #d4b39d;
}

.hero-content p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-family: "Montserrat";
    margin-top: 10px; 
    color: #f5f0e6;
}


/* --------------- HEADER ------------------ */
.header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 8px;
    left: 20px;
    width: clamp(50px, 5vw, 80px); 
    height: clamp(50px, 5vw, 80px); 
    background-image: url('../images/logo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    cursor: pointer;
    z-index: 2;
}

.nav-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.nav-menu a {
    color: #fff;
    font-family: Raleway;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(0.85rem, 1vw, 1rem); 
    background-color: rgba(73, 70, 70, 0.4);
    padding: clamp(6px, 1vw, 8px) clamp(10px, 1.5vw, 12px);
    border-radius: 4px;
}

.nav-menu a:hover {
    color: #c77c3a; 
}


/* --------------- COMPETITIONS ------------------ */

.competitions-section {
    padding: 60px 20px;
    background-color: #121826;
    color: #f4f4f9;
    text-align: center;
}


.competitions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
}

.competition-card {
    background-color: #1e2a38;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 400px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.competition-image {
    position: relative;
    height: 200px; 
    background-size: cover;
    background-position: center;
}

.competition-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.competition-content {
    padding: 20px;
    color: #e8efff;
    text-align: left;
    flex-grow: 1;
}

.competition-content h3 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: #5ec27e;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}

.competition-content p {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    font-family: 'Montserrat';
    color: #b0b7c3;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.competition-category {
    margin-top: 10px;
    font-size: clamp(0.85rem, 1.2vw, 1rem);
    font-weight: bold;
    color: #d4b39d;
}

.competition-footer {
    background-color: #1c2230;
    padding: 10px;
    text-align: center;
}

.details-button {
    background-color: #d4b39d;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 16px;
    font-size:clamp(0.9rem, 1.2vw, 1rem);
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 5px;
}

.details-button:hover {
    background-color: #4da369;
}


.competition-card:nth-child(1) .competition-image {
    background-image: url('../images/compe1.jpeg');
}

.competition-card:nth-child(2) .competition-image {
    background-image: url('../images/himalaya.jpg');
}

.competition-card:nth-child(3) .competition-image {
    background-image: url('../images/moab.jpg');
}

.competition-card:nth-child(4) .competition-image {
    background-image: url('../images/kirov.jpg');
}

/*--------- SITES EVENT ------------- */

.locations-section {
    padding: 60px 20px;
    background-color: #0e141b; 
    color: #e8efff;
    text-align: center;
}

.section-title {
    font-size: clamp(2.5rem, 4vw, 3rem);
    color: #d4b39d;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.locations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.location-card {
    background-color: #1e2a38;
    border-radius: 12px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    
}

.location-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); 
}

.location-image {
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.location-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.location-card:nth-child(1) .location-image {
    background-image: url('../images/chalten.jpg');
}

.location-card:nth-child(2) .location-image {
    background-image: url('../images/nepal.jpeg');
}

.location-card:nth-child(3) .location-image {
    background-image: url('../images/moab-mountain.jpg');
}

.location-card:nth-child(4) .location-image {
    background-image: url('../images/kirov.jpeg');
}

.location-card h3 {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    color: #5ec27e;
    margin: 20px;
    font-family: "NouvelBold";
    font-weight: 600;
}

.location-card p {
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    color: #b0b7c3;
    margin: 0 20px 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

/*--------- CALENDAR -------------- */

.calendar-section {
    padding: 60px 20px;
    background-color: #1c2230;
    color: #e8efff;
    text-align: center;
}

.section-title {
    font-size: clamp(2.5rem, 4vw, 3rem);
    color: #d4b39d;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
}

.calendar-container {
    overflow-x: auto;
}

.event-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #1e2a38;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

.event-table th,
.event-table td {
    padding: 15px 20px;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
    font-family: 'Montserrat';
    text-align: left;
}

.event-table th {
    background-color: #5ec27e;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.event-table tr:nth-child(even) {
    background-color: #2b3545; 
}


.event-table td {
    color: #e8efff;
}

.event-table th:first-child,
.event-table td:first-child {
    padding-left: 30px;
}

.event-table th:last-child,
.event-table td:last-child {
    padding-right: 30px;
}

.reminder-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reminder-button {
    background-color: #5ec27e; 
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.reminder-button:hover {
    background-color: #4da369; 
}


/* ---------------- FOOTER ----------------------- */

.footer {
    background-color: #020715;
    color: #e8efff;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Montserrat';
    gap: 1.25rem;
}

.footer-logo h2 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    color: #8197e8;
    margin: 0;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    gap: 1.25rem;
}

.footer-nav a {
    color: #e8efff;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(0.85rem, 1vw, 1rem);
}

.footer-nav a:hover {
    color: #8197e8;
}

.footer-social {
    display: flex;
    justify-content: center;

    gap: 1rem;
}

.social-icon img {
    width: clamp(20px, 4vw, 35px);
    height: clamp(20px, 4vw, 35px);
    padding: 4px; 
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: clamp(0.75rem, 1vw, 0.875rem);
    font-family:'Lato';
    color: #a8a8a8;
}

/* -------------- MEDIA QUERIES ----------------- */

/* Media queries for responsive design */

@media screen and (max-width: 1400px) {
    .hero-section {
        height: 70vh;
    }

    .hero-content {
        margin-left: 30px;
        max-width: 500px;
    }

    .competitions-section,
    .locations-section,
    .calendar-section {
        padding: 50px 15px;
    }

    .competition-card,
    .location-card {
        width: 280px;
        height: auto;
    }

    .calendar-container {
        padding: 0 15px;
    }

    .nav-menu ul {
        gap: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .hero-content {
        margin-left: 20px;
        max-width: 450px;
    }

    .header {
        padding: 10px;
    }

    .nav-menu ul {
        gap: 0.75rem;
    }

    .nav-menu a {
        padding: 5px 10px;
    }

    .competition-card,
    .location-card {
        width: 260px;
    }

    .calendar-container {
        padding: 0 10px;
    }

    .footer-container {
        gap: 1rem;
    }

    .footer-nav ul {
        gap: 0.75rem;
    }

    .footer-social {
        gap: 0.75rem;
    }
}

@media screen and (max-width: 960px) {
    .header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        height: 60vh;
    }

    .hero-content {
        max-width: 100%;
        margin: 0;
        text-align: center;
        padding: 0 20px;
    }

    .nav-menu ul {
        gap: 0.5rem;
        flex-direction: column;
    }

    .competition-card,
    .location-card {
        width: 100%;
        max-width: 300px;
    }

    .calendar-container {
        padding: 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .social-icon img {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-section {
        height: 50vh;
    }


    .competitions-section,
    .locations-section,
    .calendar-section {
        padding: 40px 10px;
    }

    .competition-card,
    .location-card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .event-table th,
    .event-table td {
        padding: 10px 15px;
    }

    .footer-container {
        gap: 0.5rem;
    }

    .social-icon img {
        width: 1.75rem;
        height: 1.75rem;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        width: 2.5rem;
        height: 2.5rem;
        top: 10px;
        left: 10px;
    }

    .nav-menu ul {
        gap: 0.25rem;
        flex-direction: column;
    }

    .nav-menu a {
        padding: 3px 6px;
    }

    .competition-card,
    .location-card {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .calendar-container {
        padding: 0;
    }

    .event-table th,
    .event-table td {
        padding: 8px;
    }

    .footer-nav ul {
        gap: 0.5rem;
    }

    .social-icon img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
